* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}

body {
    color: #989796;
    font-family: "Noto sans", "Century Gothic", sans-serif;
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

#content {
    position: relative;
    z-index: 1;
}

.intro {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
    display: block;
    width: 50%;
    padding: 25px;
    background: #FFF;
    box-shadow: 0 0 15px #000;
}

h1 {
    font-weight: 100;
    color: #5A5957;
    font-size: 36px;
    text-align: center;
    padding-bottom: 15px;
}

p {
    font-weight: 100;
    color: #5A5957;
    font-size: 16px;
    padding-bottom: 15px;
}

.btn-player {
    display: block;
    width: 100%;
    height: 50px;
    margin: 5px auto;

    font-size: 18px;
    padding: 10px;
    
    border: none;
}

.btn-player-you {
    color: #FFF;
    background: #2980B9;
}

.btn-player-cpu {
    color: #FFF;
    background: #C0392B;
}

.end {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
    z-index: 5;
}

h2 {
    color: #5A5957;
    font-size: 95px;
    text-align: center;
    padding-bottom: 15px;
}

.play-again {
    display: block;
    height: 40px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;

    border: none;
    color: #FFF;
    font-weight: bold;
    background: #F11642;
}

.loseCol { color: #C0392B; }
.loseBg { background: #C0392B; }
.winCol { color: #2980B9; }
.winBg { background: #2980B9; }

#turns {
    position: absolute;
    top: 2%;
    left: 2%;
    z-index: 5;
    color: #5A5957;
    font-size: 22px;
}

#score-cpu {
    position: absolute;
    top: 8%;
    left: 2%;
    z-index: 5;
    color: #5A5957;
    font-size: 22px;
}